// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700');

$action: #f9834e;
$primary: #455782;
$dark-primary: #354968;

$theme-colors: (
  "primary": $primary,
  "action": $action,
  "dark-primary": $dark-primary,
);

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "nouislider";

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}

$navbar-width: 200px;

.btn-action {
  color: $white;
}

.btn-outline-action:hover {
  color: $white;
}

#app {
  margin-left: $navbar-width;
  width: auto;
  position: relative;
  overflow: auto;
  z-index: 1;

  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
  }
}

// TODO: Hide this on smaller screens and make a hamburger menu
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height:100%;
  width: $navbar-width;

  padding: 0;

  border-right: $gray-500 solid 1px;
  background-color: white;

  #nav-inner {
    display: flex;
    align-items: center;
    height: 100%;
  }

  nav {
    width: 100%;

    a {
      width: 100%;

      position: relative;

      background-color: transparent;
      color: $primary;

      height: 40px;

      &.nav-link-action {
        background-color: $action;
        color: $white;

        &:hover {
          background-color: darken($action, 10%);
          color: $white;
        }

        &.active {
          background-color: $action;
          color: $white;

          &:hover {
            background-color: darken($action, 10%);
            color: $white;

            &:after {
              border-left-color: darken($action, 10%);
            }
          }

          &:after {
            border-left-color: $action;
          }
        }
      }

      &.active {
        background-color: $primary;
        color: $white;

        &:hover {
          color: $white;
          background-color: $dark-primary;

          &:after {
            border-left-color: $dark-primary;
          }
        }


        &:after {
          content: '';
          display: block;
          position: absolute;
          z-index: 100;
          margin: auto;

          height: 40px;

          right: -20px;
          top: 0;
          bottom: 0;

          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid $primary;
        }
      }

      &:hover {
        color: $primary;
        background-color: $gray-200;
      }
    }

    .nav-section {
      &-sub {
        &:last-child {
          margin-bottom: 0.25em;
        }
      }

      &-title {
        &:after {
          content: '';
          position: absolute;
          width: 90%;
          transform: translateX(-50%);
          bottom: 0;
          left: 50%;
          border-bottom: 4px solid $primary;
        }
      }

      .nav-link {
        &-sub {
          font-size: 80%;
          margin-left: 10%;
          width: 90%;
          height: 34px;

          &:nth-last-child(1) {
            border-bottom-left-radius: 10px;
          }
        }
      }

      &.active {
        .nav-link {
          color: $white;
          background-color: $primary;

          &:hover {
            background-color: $dark-primary;
          }

          &-sub {
            &:hover {
              &:after {
                border-left-color: $dark-primary;
              }
            }

            &:after {
              height: 34px;
              border-top: 17px solid transparent;
              border-bottom: 17px solid transparent;
              border-left: 17px solid $primary;
              right: -17px;
            }
          }
        }
      }
    }

    small {
      margin: 10px;
      padding-left: 5px;
      border-bottom: 1px solid $gray-300;
    }
  }

  .logo {
    position: absolute;
    margin: 25px;
  }
}

.card-custom {
  // top bar
  position: relative;

  &:before {
      content: '';
      display: block;
      left: 0;
      right: 0;
      top: -11px;
      height: 11px;
      background-color: $primary;
  }

  // card styling
  border-radius: 0;
  border: 0;
  background-color: #e6e6e6;

  .list-group {
    &-item {
      background-color: #e6e6e6;
    }
  }


  &.card-advert {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.3rem;
    }

    #small-details {
      display: block;
      margin: 0;

      p {
        margin: 0;
      }

      div {
        margin-top: 0.8rem;
        display: inline-block;

        &:not(:first-child) {
          margin-left: $spacer * 1.5;
        }
      }
    }
  }
}

.pagination {
  margin: 0;

  .page-link {
    color: $primary;

    &:hover {
      background-color: $gray-300;
    }
  }

  .page-item {
    .page-link {
      background: transparent;
      border: none;
      color: $gray-800;
    }

    &-active {
      background-color: $primary;
      border-radius: 0.25rem;

      .page-link {
        color: white;
      }

      &:hover {
        background-color: $dark-primary;
      }
    }

    &-ellipses,
    &-previous,
    &-next {
      //background-color: $gray-200;

      .page-link {
        color: $gray-600;
      }
    }

  }
  .page-item {
    &-previous,
    &-next {
      margin-left: 6px;
      margin-right: 6px;
      border: 1px solid $gray-600;
      border-radius: 0.25rem;

      &:not(.disabled):hover {
        border-color: darken($gray-500, 8%);
        background-color: $gray-200;
      }

      &.disabled {
        border-color: $gray-500;
      }
    }
  }
}

#search {
  &-row {
    margin: 0;
  }

  &-results {
    padding: 0 30px;

    .card {
      margin-bottom: $spacer * 1.5;
    }

    &-parent {
      margin-top: $spacer;
    }
  }

  &-form {
    &-parent {
      padding: 0 35px;
      margin: 0;

      @include media-breakpoint-up(md) {
        min-height: 100vh;
        border-left: 1px solid $gray-400;
        background-color: #eeeeee;
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: $spacer * 2;
      }
    }

    form {
      padding: $spacer * 3 $spacer;

      .form-group {
        &-dropdown {
          margin-bottom: $spacer * 4;
        }

        .custom-control {
          &-label {
            &::before {
              border: 1px solid $gray-700;
            }
          }

          &-input:checked ~ .custom-control-label::before {
            background-color: $action;
          }
        }
      }

      button {
        margin: 40px 0;
      }
    }
  }
}

#first-search {
  &-row {
    margin: 0;
    margin-top: $spacer * 8;
  }
}

#advert-show-row {
    & .col-12 {
      @include media-breakpoint-up(md) {
        &:nth-child(1) {
          margin-bottom: $spacer * 1.5;
        }
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: $spacer * 0.5;
      }
  }
}

#login-container {
  min-height: 100vh;
  .card {
    @include media-breakpoint-up(md) {
      margin-top: 100%;
    }
    
    .form-group {
      position: relative;
    }
  }
}

#register-container {
  border: 0;
  @include media-breakpoint-up(lg) {
    width: 65%;
  }

  -webkit-box-shadow: 10px 29px 82px -21px rgba(0,0,0,0.19);
  -moz-box-shadow: 10px 29px 82px -21px rgba(0,0,0,0.19);
  box-shadow: 10px 29px 82px -21px rgba(0,0,0,0.19);

  &-parent {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-body {
    padding: 0;
  }

  .col {
    padding: 4rem;
    padding-bottom: 2.4rem;

    // form
    &:first-child {
      background-color: $white;
    }

    // style text
    &:last-child {
      background-color: $primary;
      color: $white;

      #register-form-help-container {
        display: flex;
        align-content: center;
        height: 100%;

        #register-form-help-inner {
          text-align: center;
          margin-top: auto;
          margin-bottom: auto;
          padding-bottom: $spacer * 3;
        }
      }
    }
  }

  button {
    text-align: center;
    border-radius: 25px;
    margin: 0 auto;
    min-width: 50%;
    align-self: center;
  }

  input {
    border: none;
    border-bottom: 2px solid $primary;
    border-radius: 0;
    transition: all 100ms ease-in-out;

    &:focus {
      box-shadow: none;
      transform: scale(1.01, 1.01);
    }

    &.is-invalid {
      border: 1px solid #dc3545;
    }
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }

  .custom-control-label::before {
    background-color: $gray-100;
    border: 1px solid $gray-600;
  }

  .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primary;
  }

  #company-name-group {
    margin-bottom: 0;
    padding-top: 1rem;
  }

  #password-group {
    margin-bottom: 0;
  }
}

// select2 styles
.select2-container .select2-selection--single {
  height: 39px !important;
}

.select2-container--default {
  .select2-results__option[aria-selected="true"] {
    background-color: $action !important;
    color: $white !important;
  }

  .select2-results__option--highlighted[aria-selected="true"] {
    background-color: darken($action, 10%) !important;
    color: $white !important;
  }

  .select2-selection--single .select2-selection__arrow {
    height: 37px !important;
  }

  .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
  }

  .select2-selection--multiple  {
    .select2-selection__choice {
      background-color: $action !important;
      border: none !important;
      color: $white !important;
    }

    .select2-selection__choice__remove {
      color: $white !important;
      margin-right: 4px !important;

      &:hover {
        color: darken($white, 15%) !important;
      }
    }
  }
}

.table#applications {
  p {
    margin-bottom: 0;
  }

  th {
    color: $white;
    background-color: $primary;
    border-color: $dark-primary;
  }
}

.cv-item {
  background-color: $white;
  padding: 1rem;
  margin: 1rem;

  -webkit-box-shadow: 10px 29px 82px -21px rgba(0,0,0,0.13);
  -moz-box-shadow: 10px 29px 82px -21px rgba(0,0,0,0.13);
  box-shadow: 10px 29px 82px -21px rgba(0,0,0,0.13);

  &-inner {
    display: inline-block;

    .cv-item-education & {
      p:first-child {
        font-size: 1rem;
      }

      p:not(first-child) {
        font-size: 0.85rem;
      }
    }
  }
}

