// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700');

$action: #f9834e;
$primary: #455782;
$dark-primary: #354968;

$theme-colors: (
  "primary": $primary,
  "action": $action,
  "dark-primary": $dark-primary,
);

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "nouislider";

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}

$navbar-width: 240px;

.btn-action, .btn-action:hover {
  color: $white !important;
}

.btn-outline-action:hover {
  color: $white !important;
}

#app {
  @include media-breakpoint-up(lg) {
    margin-left: $navbar-width;
  }

  z-index: 1;

  @include media-breakpoint-down(md) {
    margin-top: 56px;
  }

  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
  }
}

@include media-breakpoint-up(lg) {
  .w-lg-50 {
    width: 50% !important;
  }

  .h-lg-50 {
    height: 50% !important;
  }
}

.fill {
    min-height: 100%;
    height: 100%;
}

#navbar {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  height:100%;
  width: $navbar-width;

  padding: 0;

  border-right: $gray-500 solid 1px;
  background-color: white;

  #nav-inner {
    display: flex;
    align-items: center;
    height: 100%;
  }

  nav {
    z-index: 200;
    width: 100%;

    a {
      width: 100%;

      position: relative;

      background-color: transparent;
      color: $primary;

      height: 40px;

      &.nav-link-onboarding {
        &[disabled] {
          color: $secondary;
          pointer-events: none;
          text-decoration: line-through $secondary;
        }
      }

      &.nav-link-action,
      &.dropdown-item-action {
        background-color: $action;
        color: $white;

        &:hover {
          background-color: darken($action, 10%);
          color: $white;
        }

        &.active {
          background-color: $action;
          color: $white;

          &:hover {
            background-color: darken($action, 10%);
            color: $white;

            &:after {
              border-left-color: darken($action, 10%);
            }
          }

          &:after {
            border-left-color: $action;
          }
        }
      }

      &.active {
        background-color: $primary;
        color: $white;

        &:hover {
          color: $white;
          background-color: $dark-primary;

          &:after {
            border-left-color: $dark-primary;
          }
        }


        &:after {
          content: '';
          display: block;
          position: absolute;
          z-index: 100;
          margin: auto;

          height: 40px;

          right: -20px;
          top: 0;
          bottom: 0;

          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid $primary;
        }
      }

      &:hover {
        color: $primary;
        background-color: $gray-200;
      }
    }

    .nav-item.dropright {
      z-index: 200;
      &.active {
        .dropdown-toggle {
          color: $white;
          background-color: $primary;

          &:hover {
            background-color: $dark-primary;
          }
        }
      }

      .dropdown-menu {
        z-index: 200;
        padding: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border-bottom-right-radius: 0.25rem;

        .dropdown-item {
          vertical-align: middle;
          padding: 0.5rem 1rem;
        }
      }
    }

    small {
      margin: 10px;
      padding-left: 5px;
      border-bottom: 1px solid $gray-300;
    }
  }

  .logo {
    position: absolute;
    margin: 25px;
  }
}

#home {
  .banners {
    width: 100%;
    height: 400px;

    .banner {
      width: 100%;
      height: 400px;
      position: relative;

      img {
        width: 100%;
        height: 400px;
      }

      .text {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        // background-color: red;

        .container {
          height: 400px;
          display: flex;
          align-items: center;

          h1 {
            color: white;
            font-size: 54px;
            font-weight: 600;
          }

          h2 {
            font-size: 32px;
            font-weight: 300;
            color: #cccccc;
          }

          .buttons {
            padding-top: 20px;
            width: 100%;
            height: 50px;

            .btn {
              padding: 0px 50px;
              height: 50px;
              line-height: 52px;
              font-weight: 600;
              font-size: 16px;

              & + .btn {
                margin-left: 30px;
              }
            }
          }

          &.left {
            padding-left: 360px;
          }
        }
      }
    }
  }

}

.card-custom {
  // top bar
  position: relative;

  &:before {
      content: '';
      display: block;
      left: 0;
      right: 0;
      top: -11px;
      height: 11px;
      background-color: $primary;
  }

  // card styling
  border-radius: 0;
  border: 0;
  background-color: #e6e6e6;

  .list-group {
    &-item {
      background-color: #e6e6e6;
    }
  }


  &.card-advert {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.3rem;
    }

    #small-details {
      display: block;
      margin: 0;

      p {
        margin: 0;
      }

      div {
        margin-top: 0.8rem;
        display: inline-block;

        &:not(:first-child) {
          margin-left: $spacer * 1.5;
        }
      }
    }
  }
}

.pagination {
  margin: 0;

  .page-item {
    .page-link {
      background: transparent;
      border: none;
      color: $gray-800;
    }

    &:hover {
      background-color: $gray-300;
    }

    border-radius: 0.25rem;

    &-active {
      background-color: $primary;

      .page-link {
        color: white;
      }

      &:hover {
        background-color: $dark-primary;
      }
    }

    &-ellipses,
    &-previous,
    &-next {
      //background-color: $gray-200;

      .page-link {
        color: $gray-600;
      }
    }

  }

  .page-item {
    &-previous,
    &-next {
      margin-left: 6px;
      margin-right: 6px;
      border: 1px solid $gray-600;
      border-radius: 0.25rem;

      &:not(.disabled):hover {
        border-color: darken($gray-500, 8%);
        background-color: $gray-200;
      }

      &.disabled {
        border-color: $gray-500;
      }
    }
  }
}

#search {
  &-row {
    margin: 0;
  }

  &-results {
    padding: 0 30px;

    .card {
      margin-bottom: $spacer * 1.5;
    }

    &-parent {
      margin-top: $spacer;
    }
  }

  &-form {
    &-parent {
      padding: 0 35px;
      margin: 0;

      @include media-breakpoint-up(md) {
        min-height: 100vh;
        border-left: 1px solid $gray-400;
        background-color: #eeeeee;
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: $spacer * 2;
      }
    }

    form {
      padding: $spacer * 3 $spacer;

      .form-group {
        &-dropdown {
          margin-bottom: $spacer * 4;
        }

        .custom-control {
          &-label {
            &::before {
              border: 1px solid $gray-700;
            }
          }

          &-input:checked ~ .custom-control-label::before {
            background-color: $action;
          }
        }
      }

      button {
        margin: 40px 0;
      }
    }
  }
}

#first-search {
  &-row {
    margin: 0;
    margin-top: $spacer * 8;
  }
}

#advert-show-row {
    & .col-12 {
      @include media-breakpoint-up(md) {
        &:nth-child(1) {
          margin-bottom: $spacer * 1.5;
        }
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: $spacer * 0.5;
      }
  }
}

#login-container {
  min-height: 100vh;
  .card {
    @include media-breakpoint-up(md) {
      margin-top: 40%;
    }
    
    .form-group {
      position: relative;
    }
  }
}

.sleek-form {
  border: 0;
  @include media-breakpoint-up(lg) {
    width: 65%;
  }

  -webkit-box-shadow: 10px 29px 82px -21px rgba(0,0,0,0.19);
  -moz-box-shadow: 10px 29px 82px -21px rgba(0,0,0,0.19);
  box-shadow: 10px 29px 82px -21px rgba(0,0,0,0.19);

  &-parent {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-body {
    padding: 0;
  }

  .col {
    padding: 4rem;
    padding-bottom: 2.4rem;

    // form
    &:nth-child(1) {
      background-color: $white;
    }

    // style text
    &:nth-child(2) {
      background-image:
              linear-gradient(
                              to right bottom,
                              $primary,
                              $dark-primary
              );
      color: $white;

      .sleek-form-help-container {
        display: flex;
        align-content: center;
        height: 100%;

        .sleek-form-help-inner {
          text-align: center;
          margin-top: auto;
          margin-bottom: auto;
          padding-bottom: $spacer * 3;
        }
      }
    }
  }

  button {
    text-align: center;
    border-radius: 25px;
    margin: 0 auto;
    min-width: 50%;
    align-self: center;
  }

  input {
    border: none;
    border-bottom: 2px solid $primary;
    border-radius: 0;
    transition: all 100ms ease-in-out;

    &:focus {
      box-shadow: none;
      transform: scale(1.01, 1.01);
    }

    &.is-invalid {
      border-bottom-color: #dc3545;
    }

    &:-moz-submit-invalid, &:-moz-ui-invalid {
      box-shadow: none;
      border: none;
      border-bottom: 2px solid #dc3545;
      border-radius: 0;
    }
  }

  .select2-sleek-input {
    border: none !important;
    border-bottom: 2px solid $primary !important;
    border-radius: 0 !important;
    transition: all 100ms ease-in-out !important;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }

  .custom-control-label::before {
    background-color: $gray-100;
    border: 1px solid $gray-600;
  }

  .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primary;
  }
}

// select2 styles
.select2-container .select2-selection--single {
  height: 39px !important;
}

.select2-container--default {
  .select2-results__option[aria-selected="true"] {
    background-color: $action !important;
    color: $white !important;
  }

  .select2-results__option--highlighted[aria-selected="true"] {
    background-color: darken($action, 10%) !important;
    color: $white !important;
  }

  .select2-selection--single .select2-selection__arrow {
    height: 37px !important;
  }

  .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
  }

  .select2-selection--multiple  {
    .select2-selection__choice {
      background-color: $action !important;
      border: none !important;
      color: $white !important;
    }

    .select2-selection__choice__remove {
      color: $white !important;
      margin-right: 4px !important;

      &:hover {
        color: darken($white, 15%) !important;
      }
    }
  }
}

#adverts,
#applications,
#addresses {
  margin-bottom: 0.7rem;

  p {
    margin-bottom: 0;
  }

  th {
    color: $white;
    background-color: $primary;
    border-color: $dark-primary;
  }

  &_wrapper {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    select {
      @extend .custom-select;
      width: auto;
    }

    input {
      @extend .form-control;
      width: auto;
      display: inline;
    }
  }

  &_length, &_filter {
    margin-bottom: 0.7rem;
  }

  &_length {

  }

  &_filter {

  }

  & ~ &_paginate {
    .paginate_button {
      padding: 0.5rem 0.75rem;
      color: $primary;

      &:hover {
        background-color: $gray-300;
      }

      &.previous, &.next {
        margin-left: 6px;
        margin-right: 6px;
        border: 1px solid $gray-600;
        border-radius: 0.25rem;
        color: $gray-600 !important;

        &:not(.disabled):hover {
          border-color: darken($gray-500, 8%);
          background: $gray-200;
        }

        &.disabled {
          border-color: $gray-500;
        }
      }
    }

    span {
      .paginate_button {
        background: transparent;
        border: none;
        color: $gray-800;
        padding: 0.5rem 0.75rem;

        &:hover {
          color: $gray-800 !important;
          background-color: $gray-300 !important;
        }

        &.current {
          background-color: $primary;
          border-radius: 0.25rem;
          color: white !important;

          &:hover {
            background-color: $dark-primary !important;
          }
        }
      }
    }
  }
}

.cv-item {
  background-color: $white;
  padding: 1rem;
  margin: 1rem;

  -webkit-box-shadow: 10px 29px 82px -21px rgba(0,0,0,0.13);
  -moz-box-shadow: 10px 29px 82px -21px rgba(0,0,0,0.13);
  box-shadow: 10px 29px 82px -21px rgba(0,0,0,0.13);

  &-inner {
    display: inline-block;

    .cv-item-education & {
      p:first-child {
        font-size: 1rem;
      }

      p:not(first-child) {
        font-size: 0.85rem;
      }
    }
  }
}

#profile-edit-card-columns,
#company-edit-card-columns,
#advert-edit-card-columns,
#address-edit-card-columns,
#company-create-card-columns {
  @include media-breakpoint-up(sm) {
    column-count: 1;
  }
  @include media-breakpoint-up(lg) {
    column-count: 2;
  }
}

#message-index-filter {
  #unreadCheck {
    & ~ label {
      &::before {
        border: 1px solid $gray-700;
      }
    }

    &:checked ~ label::before {
      background-color: $action;
    }
  }
}
